.divide_line {
    border-top: 8px solid white;
    width: 200px;
    border-radius: 5px;
}
  

.back{
    background-color: rgba(178, 172, 239, 0.771); 
}

.profile_style{
    width:350px;
    height:350px;
    border-radius: 50%;
    border-color: white;
}

.major{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 490px) {
    .divide_line {
        width: 100px;
    }
}

@media (max-width: 350px) {
    .profile_style {
        width:250px;
        height:250px;
    }
}